#gotoTop {
  display: flex;
  position: fixed;
  width: 40px;
  height: 40px;
  font-size: 24px;
  bottom: 35px;
  right: 35px;
  border-radius: 50%;
  color: $white;
  background-color: #626262;
  justify-content: center;
  align-items: center;
  box-shadow: #32325d40 0px 6px 12px -2px, #0000004d 0px 3px 7px -3px;
  z-index: 50;
  transition: $mediumTransition;

  &:hover {
    cursor: pointer;
    color: $white;
    background-color: $orangerYellow;
    transition: $mediumTransition;
  }
}
