.is-active-true {
    width: fit-content;
    padding: 5px 12px;
    background-color: #689F38;
    color: #fff;
    border-radius: 17px;
}

.is-active-false {
    width: fit-content;
    padding: 5px 12px;
    background-color: #6d6d6d;
    color: #fff;
    border-radius: 17px;
}