@font-face {
  font-family: "SVN-Darleston";
  src: url(../fonts/SVN-Darleston.otf);
}

// Montserrat
@font-face {
  font-family: "MongolianBaiti";
  src: url(../fonts/MongolianBaiti.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: 900;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-BoldItalic.ttf);
  font-weight: 900;
  font-style: italic;
}

// Rubik
@font-face {
  font-family: "Rubik";
  src: url(../fonts/rubik/Rubik-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Rubik";
  src: url(../fonts/rubik/Rubik-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Rubik";
  src: url(../fonts/rubik/Rubik-Bold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Rubik";
  src: url(../fonts/rubik/Rubik-BoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}
